<div class="paragraphs-container">
  <p>Cantidad de productos en mi carrito de compras: {{myShoppingCart.length}}</p>
  <p>Total $$: {{total}}</p>
  <p>Today: {{today | date: 'short'}}</p>
  <p>Tiempo Conexion : {{today | timeAgo}}</p>
</div>
<div class="products--grid">
  <app-product
      [product]="product"
      *ngFor="let product of products"
  (addedProduct)="onAddToBuy($event)"
  (substractProduct)="onSubstractToBuy($event)"> <!--Agregamos el evento del padre-->
  </app-product> <!--Imprimimos lo que hay en el componente app product-->
</div>
