<!--<button (click)="createNewProduct()">Create</button>-->
<!--<button (click)="onShowDetail('121')">Detalle not found</button>-->
<section>
  <div *ngIf="myShoppingCart.length > 0">
    <div class="column">
      <nav>
        <p>
          Detalle Compra | Total Productos: {{myShoppingCart.length}}
        </p>
        <div class="panel-block"  *ngFor="let item of myShoppingCart">
          {{item.title}}
          <span>
          {{item.price |  currency}}
          </span>
        </div>
      </nav>
    </div>


        <div class="under-Detail">
          <div>
            <div>
              <h2 class="detail-total">Total {{total | currency}}</h2>
            </div>
            <button class="buy-Button" (click)="realizarPago()">
              Buy Now
            </button>
          </div>
        </div>


  </div>
</section>
<div class="paragraphs-container">
  <p>Today: {{today | date: 'short'}}</p>
  <p>Tiempo Conexion : {{today | timeAgo}}</p>
</div>
<div class="products--grid">
  <app-product
      [product]="product"
      *ngFor="let product of products"
  (addedProduct)="onAddToBuy($event)"
  (substractProduct)="onSubstractToBuy($event)"
  (showProduct)="onShowDetail($event)"
  > <!--Agregamos el evento del padre-->
  </app-product> <!--Imprimimos lo que hay en el componente app product-->
</div>
<button class="moreProducts" (click)="loadMoreProducts()">CargarMas</button>
<div class="product-detail" [class.active]="showProductDetail">
  {{statusDetail}}
  <div *ngIf="productChosen"> <!--Se muestra solo si hay un producto seleccionado-->
    <button (click)="toggleProductDetail()">Close</button>
      <h1>{{productChosen.title}}</h1>
      <swiper-container>
        <swiper-slide *ngFor="let img of productChosen.images">
          <img [src]="img" alt="">
        </swiper-slide>
      </swiper-container>
      <p>{{productChosen.description}}</p>
      <button (click)="updateProduct()">Editar</button>
      <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>
