section {
  display: flex;
  flex-direction: column;
  align-items: left;
  .column {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    @media (min-width: 40em) {
      max-width: none;
    }
    nav {
      p {
        text-align: center;
        font-weight: bold;
      }

      .panel-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 16px;
        padding: 5px;

        span {
          font-weight: bold;
        }
      }
    }
  }
  .under-detail{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }
  .detail-total{
    font-size: larger;
    margin-left: 46%;
  }
  .buy-Button {
    padding: 10px 20px;
    background: url('../../../assets/images/NavBarHarryPotter.jpg');
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: 70%;
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 10px;
    @media (min-width: 40em) {
      width: -webkit-fill-available;
    }
  }

}



.paragraphs-container {
  column-count: 2;
  column-gap: 20px; /*Espacio entre columnas*/
}
.products--grid{
  display: flex;
  flex-direction: column;
}
.moreProducts {
  font-size: 20px;
  background: linear-gradient(to right, yellow, red, orange);
  color: black;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}
.product-detail {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
  img{
      width: 250px;
      height: 250px;
  }
}
//Dimensiones para tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
  .products--grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
  }
}

//Dimensiones para web
@media screen and (min-width: 64em){
  .products--grid {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
