<form class="form-registro" method="POST" >
    <h4>Registrate ahora</h4>
    <input class="control" type="text" name="name" id="name" placeholder="Ingrese su Nombre" required>
    <input class="control" type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" required>
    <input class="control" type="email" name="email" id="email" placeholder="Ingrese su Correo" required>
    <input class="control" type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
    <button class="button"  type="submit"  value="Registrarme">Registrate</button>
  </form>

