p {
  margin: 0;
  font-size: 14px;
  margin-left: 55px;
}
h2{
  margin: 0;
  font-size: 22px;
  margin-left: 55px;
}
button{
  margin-left: 55px;
  width: 60%;
}
@media (max-width: 40em) {
.products--grid{
  align-items: center;
  margin-left: 20%;
}
button{
  margin-left: 15px;
  width: 60%;
}
}
