<form class="form-registro" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)" novalidate >
    <h4>Registrate ahora</h4>
    <input formControlName="name" class="control"  placeholder="Ingrese su Nombre" required>
    <input formControlName="lastname" class="control"  placeholder="Ingrese su Apellido" required>
    <input formControlName="email" class="control"  placeholder="Ingrese su Correo" required>
    <input formControlName="password" class="control"  placeholder="Ingrese su contraseña" required
    [type]="passwordVisible ? 'text' : 'password'">
    <button class="button" type="button" (click)="togglePasswordVisibility()">Mostrar contraseña</button>
    <input  class="send-button"  type="submit" [disabled]="!formulario.valid">
  </form>
