.navbar{
  background: url('../../../assets/images/NavBarHarryPotter.jpg');
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;}
.navbar-brand{
  font-style: oblique;
  color: white
}
.nav-link{
  font-size: 18px;
  color: white;
}
.account {
  margin-right: 30px;
  font-weight: bold;
}
.btnSearch {
  margin-right: 50px;
}
// MOBILE

.side-menu{
  position: fixed;
  background: url('../../../assets/images/Griffindor.jpg') center;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: all ease-out .5s;
  &.active{
    transform: translateX(0);
  }
  .nav-link{
    font-size: 30px;
    margin-top: 60px;
    color: black;
  }
}
