<div class="show-mobile">
  <div>
    <button>
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="./assets/svg/HarryStore.jpg" alt="logo">
    </a>
    <a href="">
      <img src="./assets/svg/carroCompras.jpg" alt="logo">
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img width="60px" src="./assets/svg/HarryStore.jpg" alt="logo">
      </a>
      <ul>
        <li><a href="">TodosJuguetes</a></li>
        <li><a href="">Funkos</a></li>
        <li><a href="">JuegosMesa</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">juannico@correo.com</div>
      <div>
        <a href="">
          <img width="50px"   src="./assets/svg/carroCompras.jpg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
